
.landing-page{
  position: relative;
  top: 60px;
  height: calc(100vh - 60px);
  /* mix-blend-mode:color-burn; */
  
}

.landing-page-video{
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
}

.landing-page #bg-video{
  min-width: 100%;  
  min-height: 100%;  
  object-fit: cover; 
  margin: 0 auto;
}

.landing-page-text{
  top:20px;
  position: relative;
  font-family: Ubuntu;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:10px;
  padding: 20px;
  color:var(--main-white);
  text-align: center;
  letter-spacing: 2px;
  background-color: #ed1c2445;
  border-radius: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
}
.landing-page-text p{
  padding-bottom: 1rem;

}
.landing-page-text p:nth-child(2){
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  padding-top:1rem ;
  text-align: center;
}
.landing-page-text p:nth-child(2) a{
background-color: transparent;
border-radius: 1rem;
margin: 5px auto;
outline: none;
text-wrap: nowrap;
padding: 4px 3px ;
font-weight: bolder;
color:var(--main-yellow);
background-color: var(--main-white);
}

.landing-page-text p:nth-child(2) a:hover{
  background-color: var(--main-white);
  color: var(--main-yellow);
  cursor: pointer;
}

.landing-page-text p:nth-child(2) a:active{
  background-color: black;
  color: var(--main-white);

}

@media (min-width: 768px){
  .landing-page-text *{
    width: 750px;
    font-size: 2.4rem;
  }
}