@import url("../../main-css/fonts.css");
@import url("../../main-css/main-rules.css");
@import url("../../main-css/navbar-style.css");


.landing-page{
  position: relative;
  top: 100px;
  display: flex;
  height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.8);
}
@media (max-width:768px) {
  .landing-page{
    top: 70px;
    height: calc(100vh - 70px);
  }
}