@import url("../../main-css/fonts.css");
@import url("../../main-css/main-rules.css");
@import url("../../main-css/navbar-style.css");


.landing-page{
  position: relative;
  width: 100%;
  top: 70px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem 4rem;
}

.landing-page .menu-container{
  width: 100%;
  color: white;
}

li{
  list-style-type:none;
  margin-bottom: 1.5rem;
}
li label{
  display: flex;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  padding: 5px;
}
li label:hover{
  border: 1px solid white;
}
li  label span{
  display: flex;
  flex: 1;
  align-items: center;
}

li label span:before {
  content: '';
  border-bottom: 2px dotted #ffffff;
  flex:1;
  margin: 0 10px;
}

li label svg{
  position: relative;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
}

li p{
  font-size: 1.8rem;
}
li .side-dish{
  position: relative;
  height: 0;
  text-align: left;
  transition: all 0.3s ease-in-out;
  transform: rotateX(90deg);
  font-size: 1.5rem;
  opacity: 0;
}

li input:checked~label svg{
  transform: rotate(45deg);
  fill: var(--main-red);
}

li input:checked~.side-dish{
  display:contents;
  transform: rotateX(0deg);
  opacity: 1;
  color: var(--main-red);
}

@media (max-width:768px) {
  .landing-page{
    padding: 1rem 1.5rem;
  }
  li label{
    font-size: 1.8rem;
  }
  li .side-dish *{
    font-size: 1.5rem;
    /* height: fit-content; */
  }
  
}